@font-face {
    font-family: "bold";
    src: url(font/TTNorms-Bold\ \(4\).woff2);
}
@font-face {
    font-family: "medium";
    src: url(font/TTNorms-Medium\ \(3\).woff2);
}
.body,html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dooricon{
    height: 0px;
}
.main-marg{
    border: none;
    margin-top: 16px;
   
}
.main-a{
    position: relative;
}
.main-pa{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    padding: 8px;
}
.icon-bag{
    align-self: center;
}
.bagr{
    max-width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.bagr svg{
    border-radius: 11px;
    border: 1px solid #f1f1f1ff;
    flex-shrink: 0;
}
.browse{
    -webkit-box-flex: 1;
    overflow: hidden;
    max-width: 100%;
    display: block;
}
.a{
    color: #191919ff;
    font-family: "bold";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-align: left;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
} 
.browse-bag{
    max-width: 100%;
    margin-bottom: 0px;
}
.brs-tex{
    color: #191919ff;
    font-family: "bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-dollar{
    color: #606060ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}
.star{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-pack: start;
    flex-direction: row;
    margin-left: 2px;
} 
.star svg{
    margin-right: 2px;
    margin-left: 0px;
}
.rating{
    margin-left: 4px;
    color: #606060ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
 }
 .open{
    display: flex;
    width: 100%;
    align-items: center;
 }
 .main-a{
    width: 100%;
 }
 .main-pa{
    width: 100%;
 }
 .main-marg{
    width: 100%;
 }
.opn{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffff;
}
.opn-pa{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding-left: 12px;
    padding-right: 12px;
}
.open-a{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.open-b{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
.openn{
    color: #ffffff;
    font-family: "bold";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
/* second-class */
.median{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    align-items: center;
    box-sizing: border-box;
}
.color{
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png");
    height: 550px;
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    width: 100%;
    z-index: 1;
    -webkit-box-pack: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}
.box{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;    
}
.icon{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
}
.doordash{
    line-height: 0;
    box-sizing: border-box;
    margin-left: 8px;
}
.hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 8px;
}
.global{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
}
.near{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
h1{
    max-width: 350px;
    letter-spacing: -0.01px;
    font-size: 22px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "bold";
    font-weight: 700;
    display: block;
}
.margin{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 79px;
    margin-top: 16px;
    z-index: 1;
    padding-right: 24px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    gap: 8px;

}
.login{
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #191919ff;
    
}
.login span{
    padding:  0px 12px;
    font-family: "bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-align: center;
}
.open_btn{
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    background-color: #EB1700;
    color: #ffffff;
}
.open_btn span{
    padding: 0px 12px;
    font-family: "bold";
    font-size: 16px;
    letter-spacing: -0.01px;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
}
.button_marg{
    position: absolute;
    top: 111px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px 24px 0px 0px;
    column-gap: 8px;
    box-sizing: border-box;
}
.delivery-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.delivery-border{
    border-radius: 12px;
    display: block;
    min-height: 40px;
    width: 100%;
    max-width: 100%;
}
.delivery-pad{
    border-radius: 32px;
    font-family: "medium";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    align-items: center;
    border-radius: 32px;
    z-index: 1;
    padding: 6px 16px 6px 16px;
    background-color: #ffffff;
    max-width: 298px;
    justify-self: center;
}
.search-iconmarg{
    max-width: 100%;
    margin-right: 12px;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    pointer-events: none;
    border: none;
}
.enter-marg{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin-right: 12px;
}
.enter-bag{
    text-overflow: ellipsis;
    font-family: "medium";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    display: flex;
    background: inherit;
    color: currentColor;
    border: none;
}
.arrow-out{
    max-width: 100%;  
}
.right-arw{
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    color: #191919ff;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: none;
}
.icon-img{
    margin-top: 16px;
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    color: #191919ff;
    border: 0;
}
.icon-img-pad{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    cursor: pointer;
}
.log-bagr{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.round{
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.icon-a{
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-a  svg{
    flex-shrink: 0; 
}
.login-a{
    margin-left: 4px;
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.loginnnn{
    color: #191919ff;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 700;
    width: 100%;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    border: none;
}
/* section-3 */
.display{
    max-width: 400px;
    width: 100%;
    
    /* margin: 0px auto;
    flex: 1 0 auto; */
}
.brose-marg{
    margin: 20px 20px 0px 20px;
}
.second-pa{
    border-radius: 12px; 
    border: 1px solid #f1f1f1ff;
    padding: 20px;
    background-color: #f7f7f7ff;
    max-width: 100%;
    display: block;
}
.total-bag{
    display: flex;
    text-align: left;
}
.ic-pama{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    background-color: #ffffff;
    margin-right: 8px;
    padding: 8px;
} 
.text{
    max-width: 100%;
    display: block;
}
.faster{
    color: #191919ff;
    font-family: "bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    max-width: 100%;
    overflow: hidden;
}
.deliv{
    margin-left: 4px;
    margin-top: 2px;
    color: #606060ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    max-width: 100%;
}
.strr{

    margin-top: 2px;
    margin-left: 1px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.strr svg{
    margin-inline: 1px;
    flex-shrink: 0;
}
.rtg{
    margin-left: 5px;
    color: #606060ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    max-width: 100%;
}
.continue{
    margin-top: 16px;
    position: relative;
    max-width: 100%;
    display: flex;
    min-height: 40px;
    width: 100%;
    align-items: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #EB1700FF;
    color: #ffffff;
}
.button-a{
    display: block;
    max-width: 100%;
    opacity: 1;
    padding-left: 12px;
    padding-right: 12px;
    flex-grow: 1;
}
.button-b{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: row;
}
.button-c{
    flex-grow: 2;
    justify-content: center;
}
.btn{
    color: #ffffff;
    font-family: "bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    max-width: 100%;
    text-align: center;
    width: 100%;
}
/* section-4 */
.section-3{
    max-width: 768px;
    margin: 0px auto;
    box-sizing: border-box;
}
.sec-margin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px;
    height: 100%;
}
.dasher{
    display: flex;
    width: 360px;
    min-width: 360px;
    flex-flow: row;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.image{
    margin-right: 32px;
}
.image img{
    height: 88px;
    width: 88px;
}
.dasher-bec{
    max-width: 100%;
    display: block;
}
.dasher-bec h2{
    color: #191919ff;
    font-family: "bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    box-sizing: border-box;
    height: 80px;
}
.dasher-bec h3{
    margin-top: 0px;
    font-family: "medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;  
}
.str{
    margin-top: 12px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.earng{
    color: #eb1700ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
}
.right-arrow{
    width: 4px;
}
.right-arrow svg{
    flex-shrink: 0;   
}
.mobile{
    max-width: 100%;
    display: block;
}
.mobile h2{
    color: #191919ff;
    font-family: "bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    margin: 0px;
    padding: 0px;
}
.mobile h3{
    text-decoration: none;
    font-family: "medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
}

/* section pizza */
.pizza{
    width: 100%;
}
.piz-p{
    width: 100%;
}
.pizza-cls{
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.img-p{
    width: 100%;
}
.img-p img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.everything{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.everything h2{
    text-align: left;
    max-width: 85%;
    margin-top: 24px;
    color: #191919ff;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px; 
}
.your{
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.get{
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.find{
    margin-top: 20px;
    box-sizing: border-box;
    height: 32px;
}
.butn{
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    cursor: pointer;
    background-color: #eb1700ff;
    color: #ffffffff;
}
.f-p{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding-left: 12px;
    padding-right: 12px;
}
.fi{
    max-width: 100%;
    flex-grow: 2;
    justify-content: center;
}
.find-rest{
    color: currentColor;
    font-family: "bold";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    white-space: nowrap;
    
}
.burger-out{
    width: 100%;
}
.burger-p{
    background-color: rgb(254, 241, 238);
    display: flex;
    flex-direction: column;
    padding: 320px 20px 20px 20px;
    min-width: 90%;
    align-items: center;
}
.burger{
    width: 100%;
}
.burger img{
    height: 180px;
    width: 100%;
    object-fit: cover;
} 
.groceries {
    background: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png) center center / cover;
    height: 350px;
    width: 100%;
    position: relative;
}
.gros-out {
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    place-content: center;
    flex-direction: row;
    z-index: 1;
    display: flex;
}
.gros-text {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}
.gros-text h2{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px); 
    max-width: 90%;
    margin-top: 20px;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
}
.grow-deli {
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin-top: 10px;
    font-family: "medium";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.shop {
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin-top: 10px;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.blue-cover {
    width: 100%;
}
.cover-pa {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.image-ot {
    width: 100%;
}
.picture {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
img{
    height: 180px;
    width: 100%;
}
.stores-bg {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.stores-bg h2{
    text-align: left;
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
}
.stock {
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.helping {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px 20px;
    width: 100%;

}
.help-text {
    text-align: center;
    max-width: 300px;
    color: #191919ff;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
}
.packets-out {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
}
.pack-ma {
    margin-left: 18.750px;
    margin-right: -37.500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    -webkit-box-align: center;
}
.packet-img {
    width: 100%;
}
.packet-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.return-out {
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
}
.return-out h2 {
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: "bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
}
.request {
    text-align: center;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
}
.enjoy {
    text-align: center;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01px;
}
.unlock-out{
    display: flex;
    justify-content: center;
    background-color: #ffffffff;
    padding: 40px 20px 20px 20px;
    width: 100%;
}
.unlock{
    text-align: center;
    max-width: 300px;
    color: #191919ff;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
}
.pdng-o{
    width: 100%;
}
.pdng{
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.imagess{
    width: 100%;
}
.imagess img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.buying-product {
    width: 100%;
}
.pro-ma {
    background-color: rgb(254, 241, 238);
    padding: 320px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    min-width: 90%;
    align-items: center;
}
.product{
    width: 100%;
}
.product img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.business{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.business h2{
    text-align: left;
    max-width: 90%;
    margin-top: 20px;
    color: #191919ff;
    font-family: "medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
}
.busi{
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.more-pa{
    width: 100%;
    max-width: 1130px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0px auto;
    box-sizing: border-box;
}
.more-pa h2{
    text-align: center;
    margin-bottom: 4px;
    font-family: "medium";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.topa-out{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px
}
.top-one{
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    border-bottom: 3px solid;
}
.top-one span{
    color: #191919ff;
    font-family: "medium";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.top-two{
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);   
}
.top-two span{
    color: rgb(73, 73, 73);
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.top-three{
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
}
.top-three span{
    color: rgb(73, 73, 73);
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.tables {
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
}
.newyork{
    width: 50%;
}
.new{
    border-radius: 0px;
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 40px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
    color: #191919ff;
}
.new-pa{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    opacity: 1;
    padding-left: 12px;
    padding-right: 12px;
}
.new-one{
    max-width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.new-two{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    -webkit-box-pack: center;
    justify-content: center;
}
.new-three{
    color: #191919ff;
    font-family: "medium";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.new-yok{
    color: #191919ff;
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.losangels{
    cursor: pointer;
    background: #ffffffff;
    width: 50%;
    display: block;
}
.los{
    background-color: #ffffffff;
    border-radius: 0px;
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 40px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #191919ff;
    box-shadow: 1px;
}
.los-pa{
    display: block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.los-one{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.los-two{
    -webkit-box-flex: 2;
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.los-three{
    color: currentColor;
    font-family: "medium";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.los-angeles{
    color: currentColor;
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.black{
    width: 100vw;
    background-color: #191919ff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
}
.black-bor{
    width: 1184px;
    box-sizing: border-box;
}
.black-mar{
    max-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.black-pa{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
}
.black-pa h2{
    margin-bottom: 8px;
    color: #ffffff;
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.black-total{
    flex-direction: column;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 12px;
    box-sizing: border-box;
}
.black-one{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.alcohole{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: 8px;
}
.alc{
    color: rgb(196, 196, 196);
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.convenience{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    box-sizing: border-box;
    text-align: center;
}
.conv{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: 8px;
}
.stores{
    color: rgb(196, 196, 196);
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.appstore-main{
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}
.app-bag{
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 12px;
}
.app-whole{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.app-whole h2{
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.about{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: 8px;
}
.abt{
    color: rgb(196, 196, 196);
    font-family: "medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
}
.let{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}
.let h2{
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-family: "medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
}
.available{
    flex-direction: column;
    flex: 1 1 0%;
    display: flex;
    /* -webkit-box-pack: end; */
    justify-content: flex-end;
    overflow: hidden;
}
.avl-bag{
    flex: 1 1 0%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mob-a{
    color: inherit;
    opacity: 0.7;
    cursor: pointer;
}
.mob-pa{
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}
.google{
    opacity: 0.7;
    cursor: pointer;
    /* transition: opacity 0.2s; */
    color: inherit;
    margin-top: 12px;
}
.google-pa{
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;
}
.icons{
    flex-direction: column-reverse;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
}
.terms{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
}
.door{
    text-decoration: inherit;
    cursor: pointer;
    box-sizing: border-box;
}
.doo-mar{
    max-width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
    color: -webkit-link;
}
.dash{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
}
.termsof{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.2s;
    margin-left: 16px;
}
.of{
    color: rgb(196, 196, 196);
    font-family: "medium";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01px;
    display: block;
}
.year{
    color: rgb(196, 196, 196);
    font-family: "medium";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01px;
    display: block;
    margin-left: 16px;
}
.english{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}
.eng-bor{
    width: 150px;
    display: block;
    text-align: center;
}
.widthof{
    width: 100%;
    max-width: 100%;
    display: block;
}
.english-bag{
    display: flex;
    min-height: 32px;
}
.eng-pa{
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
    padding: 4px 12px 4px 12px;
    background-color: rgb(241, 241, 241);
}
.globe-mar{
    max-width: 100%;
    margin-right: 8px;
    display: block;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
}
.globe{
    display: flex;
    box-sizing: border-box;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
}
.english-us{
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    display: block;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
}
.us-bag{
    position: relative;
    background: inherit;
    display: block;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
}
.options{
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    background: inherit;
    color: currentcolor;
    appearance: none;
    overflow: visible;
}
.down-arrow{
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    max-height: 100%;
    min-height: 8px;
    pointer-events: none;
    background: transparent;
    bottom: 0px;
    margin: auto 0px;
    font-family: "medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919ff;
}
.facebook{
    flex-wrap: nowrap;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}
.facebk{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
}
.twitter{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
    margin-left: 12px;
}
.insta{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
    margin-left: 12px;
}
